.header{
    background-color: #003580;
    display: flex;
    justify-content: center;
    color: #fff;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px 0;
}
.headerContainer.listmode{
    margin: 20px 0px 20px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
}
.headerBtn{
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;

}
.headerIcon{
    color: black
}
.header{
    position: relative;
}
.headerSearch{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 1px solid yellow;
    border-radius: 7px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    height: 50px
}
.headerSearchItem{
    display: flex;
    gap:20px;
    align-items: center;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchText{
    color: black;
}
.date{
    position: absolute;
    top: 50px;
}
.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
}
.optionsItem{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.optionCounter{
    display: flex;
    gap: 10px;
    align-items: center;
    color: black
}
.optionCounterBtn{
    width: 30px;
    height: 30px;
    border: 1px solid #003580;
    background-color: white;
    cursor: pointer;
}
.optionCounterBtn:disabled{
    cursor: not-allowed;
}